.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

data/processed/*
!data/processed/.gitkeep
data/scenarios/*
!data/scenarios/.gitkeep
data/raw/*
!data/raw/.gitkeep
.DS_Store
